@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to top ,#6f533e, #a89f6de9, #A29375);
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #897d69;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #5B4432;
    text-align: center;
    text-shadow: #A29375;
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
}